@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZkO4ljQ.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZfOkljQ.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZRekljQ.woff) format('woff');
}
@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./assets/fonts/2-cO9IRs1JiJN1FRAMjTN5zd9vgsFF_5asQTb6hZ2JKZIukljQ.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4W61C4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1C4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4e6yC4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4bCyC4I.woff) format('woff');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./assets/fonts/QGYyz_MVcBeNP4NjuGObqx1XmO1I4ZmyC4I.woff) format('woff');
}
