@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./outfit-300-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./outfit-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./outfit-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./outfit-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./outfit-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./outfit-800-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('./outfit-900-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./merriweather-sans-500-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./merriweather-sans-500-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./merriweather-sans-600-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url('./merriweather-sans-600-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./merriweather-sans-700-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('./merriweather-sans-700-italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./merriweather-sans-800-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url('./merriweather-sans-800-italic.woff2') format('woff2');
}